# Virtual Environment
venv/
env/
.env/
.venv/
ENV/
**/lib/
**/bin/
**/include/
**/share/
pyvenv.cfg

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

# PyTorch
*.pt
*.pth
*.ckpt

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~

# Testing
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db